{% extends "base.html.twig" %}

{% block headTitle %}
	{{pageTitle}}
{% endblock %}

{% block mainHeaderContent %}
	<nav class='main-header__nav'>
		<button class="BTN-products" id="BTN-addProduct">Ajout produit</button>
		<a href="/products/resupply">
			<button class="BTN-products" id="BTN-batchOrder">
				Commande groupée
			</button>
		</a>
	</nav>

{% endblock %}

{% block mainDisplay %}
	<header>
		<h2>Recommander des produits (Page non implémentée sur la version actuelle)</h2>
	</header>
	<main></main>
	<footer></footer>


</form>{% endblock %}
