@use '../../abstract/' as *;

form {
    width: 100%;
    max-width: 1000px;
    padding: 5px 30px 20px 30px;

    gap: $gap-small;

    input,
    select {
        background-color: $color-background-inputField;

        [disabled] {
            background-color: none;
        }
    }
}