$header-height: 150px;

$color-background-banner: darkgrey;
$color-background-main: beige;
$color-background-section: lightgrey;

$color-content-header: blanchedalmond;
$color-content-primary: aliceblue;
$color-content-secondary: white;

$color-background-inputField: white;

$color-background-buttonOk: green;
$color-background-buttonAbort: red;
$color-background-buttonProducts: orange;
$color-background-buttonUsers: blue;


$padding-page-X: 10%;
$padding-page-Y: 50px;

$padding-button: 10px 20px;

$gap-medium : 50px;
$gap-small : 25px;